#botonverde{color: #25a342;}

#tarjetas
{
    width: 75%;
}

#formulario
{
    width: 55%;
}

#footer
{
    background: #1D3744;
    background: -webkit-linear-gradient(left, #1D3744, #205371);
    background: -moz-linear-gradient(left, #1D3744, #205371);
    background: linear-gradient(to right, #1D3744, #205371);
    color: white;
}

#tarjetasventatickets
{
    width: 55%;
}

#formularioventa
{
    width: 50%;
}

